/* C:\Users\rc2ju\Documents\MDN\3.Learn\core_33\core_33.3_CSS_layout_Positioning\style.css */
hr {
    border: none;
    height: 2px;
    background-color: cyan;
}

body {
  width: 500px;
  margin: 0 auto;
  top:  30px;
  left: 30px;
}

/* ex-4.1 Static positioning */
.positioned {
  position: static;
  background: yellow;
}

p {
  background: aqua;
  border: 2px solid blue;
  padding: 10px;
  margin: 10px;
}
span {
  background: red;
  border: 1px solid black;
}

/* ex-4.2 Relative positioning */
.positioned_2 {
  position: relative;
  background: yellow;
  top:   5px;
  left: 10px;
} 

/* ex-4.3 Absolute positioning */
/* positioned "<p class="positioned_3">...</p>" 
   at body origine top and left as (0px, 0px) */
.positioned_3 {
  position: absolute;
  background: pink;
  top:  1010px;
  left: 20px;
}

